<__trans phrase="There's a new comment on '[_1]'" params="<mt:var name="entry_title">"> : <mt:var name="entry_permalink">
	
From: <mt:var name="comment_author">

<mt:var name="comment_text">

<__trans phrase="If you no longer wish to receive notifications, please click here">: <mt:var name="unsub_link">