<mt:setvar name="page_title" value="<__trans phrase="Unsubscribed">">
<mt:include name="include/chromeless_header.tmpl">

<div id="unsubscribed">
  <p>You have successfully unsubscribed from future comment notifications from <a href="<$mt:var name="entry_url"$>"><$mt:var name="entry_title"$></a>.</p>
</div>

<mt:include name="include/chromeless_footer.tmpl">
